.checkout {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  // grid-auto-rows: minmax(500px, auto);
  // border: 3px solid red;
  width: 100%;
}
.checkout div {
  grid-column: 1 / 2;
  grid-row: 1;
  width: 500px;
}

.itemChecout {
  display: flex;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px green;
}
