:root {
  --white: #fff;
  --black: #413f42;
  --very-light-pink: #413f42;
  --text-input-field: #fff;
  --hospital-green: #157347;
  --color-yellow: #ec994b;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
