nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  // border: solid 1px rgb(0, 255, 4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-left ul {
  display: flex;
  // border: solid 1px rgb(0, 255, 4);
}

.navbar-left a {
  text-decoration: none;
  font-family: Arial;
  margin: 10px;
  font-size: 25px;
  color: darkslategrey;
  font-weight: bold;
}
.menu {
  display: none;
}
.navbar-right li {
  display: flex;
  align-items: center;
  color: red;
  font-weight: bold;
}

.navbar-right i {
  text-decoration: none;
  background-color: aliceblue;
  color: rgb(64, 73, 68);
}
.nav-logo {
  // width: 100px;
  // height: 60px;
}

@media (max-width: 640px) {
  .menu {
    // display: block;
  }
  .navbar-left ul {
    // display: none;
  }
  .navbar-email {
    // display: none;
  }
  .navbar-shopping-cart {
    // position: relative;
    // display: none;
  }
}
