.navbar-celular {
  position: relative;
  top: 00px;
  background-color: cadetblue;
  //   z-index: 0;
  //   top: 30px;
}

.navbar-celular ul {
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: 5;
}
