.navbar-celular {
  position: relative;
  height: 40vh;
  width: 100%;
  // display: none;
}

.navbar-celular ul {
  align-content: center;
  justify-items: center;
}
.navbar-celular a {
  display: block;
  text-decoration: none;
  color: darkslategrey;
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 640px) {
  .navbar-celular {
    position: relative;
    height: 40vh;
    width: 50%;
    // border: solid 1px red;
  }
}
