nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.navbar-left ul {
  display: flex;
}

.navbar-left a {
  text-decoration: none;
  font-family: Arial;
  margin: 10px;
  font-size: 1rem;
  color: darkslategrey;
  font-weight: bold;
}
.menu {
  position: absolute;
  right: 0px;
  display: none;
}
.navbar-right li {
  display: flex;
  align-items: center;
  color: red;
  font-weight: bold;
}

.navbar-right i {
  text-decoration: none;
  background-color: aliceblue;
  color: rgb(64, 73, 68);
}

.navbar-shopping-cart {
  position: relative;

  width: 30px;
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }

  .navbar-shopping-cart {
    position: relative;
    right: 150px;
    margin-top: 13px;

    // display: none;
  }
  nav {
    height: 50px;
    width: 1000px;
    // background-color: aquamarine;
  }
}
