.OrderItem {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  padding: 20px;
  align-items: center;
  // border: 2px solid wheat;
  margin-top: 10px;
}
.OrderItem figure {
  margin: 0;
  // border: 2px solid rgb(100, 68, 9);
}
.OrderItem figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 10px;
  // border: 2px solid rgb(100, 68, 9);
}

.OrderItem img {
  width: 10px;
  height: 10px;
  margin-top: -20px;
  // border-radius: 20px;
  // object-fit: cover;
}
.OrderItem p:nth-child(2) {
  color: var(--very-light-pink);
  // border: 2px solid rgb(100, 68, 9);
  // text-align: center;
  display: flex;
}
.OrderItem p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
  // border: 2px solid rgb(100, 68, 9);
}
