.cardProduc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: solid 2px rgb(32, 209, 117);
}

.produc1 {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 10px;
}

.product-item img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
  padding: 10px;
}
.gridItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 640px) {
  .gridItem {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar-left ul {
    display: none;
  }

  .cardProduc {
    position: relative;
    width: 90%;
  }
  .cardProduc p {
    font-size: 15px;
    margin: 20px;
    // text-align: center;
  }
  .cardProduc button {
    width: 150px;
    margin: auto;
    font-size: 1rem;
  }
}
