.product-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(500px, auto);
}
.product-item img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
  padding: 10px;
}
.cardProduc {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  width: 400px;
  height: 47vh;
  // border: solid red 3px;
}
