:root {
  --white: #f1eee9;
  --black: #413f42;
  --very-light-pink: #73777b;
  --text-input-field: #dddddd;
  --hospital-green: #15133c;
  --color-yellow: #ec994b;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  background-color: #eeeeee;
  font-family: "Quicksand", sans-serif;
}
